#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  1   |  2   |  3  |  4   |  5  |  6   |  7   |   8   |  9  |  0  |    -    |   =   | BKSP |  `  |
// |  TAB  |  Q   |  W   |  E  |  R   |  T  |  Y   |  U   |   I   |  O  |  P  |    [    |   ]   |  \   | DEL |
// |  CAPS |  A   |  S   |  D  |  F   |  G  |  H   |  J   |   K   |  L  |  ;  |    '    | ENTER | PGUP |
// | LCTRL |  Z   |  X   |  C  |  V   |  B  |  N   |  M   |   ,   |  .  |  /  |  SHIFT  |   ^   | PGDN |
// | LCTRL | LGUI | LALT | SPC |  FN  | SPC | LALT |  FN  | RCTRL |  <- |  v  |   ->    |
            bindings = <
    &kp ESC  &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &kp MINUS &kp EQL     &kp BKSP  &kp TILD
    &kp TAB    &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT   &kp BSLH  &kp DEL
    &kp LCTL    &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SCLN &kp QUOT        &kp RET   &kp PGUP
    &kp LSFT     &kp Z &kp X &kp C &kp V &kp B &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp RSFT &kp UARW  &kp PGDN
    &kp LCTL &kp LGUI &kp LALT &kp SPC &kp SPC &kp SPC &kp LALT  &kp SPC  &kp RCTL   &kp LARW  &kp DARW  &kp RARW
//    &kp LCTL &kp LGUI &kp LALT &kp SPC &mo 1 &kp SPC &kp LALT     &mo 1    &kp RCTL   &kp LARW  &kp DARW  &kp RARW
            >;

        };
    };
};
